<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>directory</title>
  <script src="/scripts/directory.js" type="module"></script>
  <link rel="stylesheet" href="/styles/directory.css">
</head>
<body>
  <main id="directory-container">
    <ul id="directory-root" data-path="/"><span>/</span></ul>
  </main>
</body>
<script>/* dummy */ 0</script>
</html>
