<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <base href="/raw/{{course}}/assets/">
  <title>{{name}}</title>
  <link rel="stylesheet" href="/styles/basic.css">
</head>
<body>
  <main id="note-container">{{{body}}}</main>
  {{#if isNote}}
  <iframe id="raw-display" src="/raw{{filePath}}" frameborder="0"></iframe>
  {{/if}}
</body>
</html>
