:root {
  font-family: 'Comic Sans MS', 'Comic Sans', sans-serif;
}

html, body {
  margin: 0;
  width: 100%;
  height: max-content;
}

body {
  display: flex;
  justify-content: center;
  background: #bbb;
  min-height: 100vh;
}

#note-container {
  margin: 1rem;
  min-width: 40ch;
  max-width: 70ch;
  width: max-content;
  flex: 1;
  padding: 1.5rem;
  background-color: #ddd;
}

pre {
  background-color: #ccc;
}

#not-found {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: 700;
}

#raw-link {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.5rem;
  background-color: #eee;
  text-decoration: none;

  &:hover { text-decoration: underline; }
}

#home-link {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5rem;
  background-color: #eee;
  text-decoration: none;

  &:hover { text-decoration: underline; }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
